# Devenv
/.devenv*
/devenv.local.nix

# direnv
/.direnv

# pre-commit
/.pre-commit-config.yaml

# node.js
/node_modules

# Build output
/out

# Local VS Code configuration
/.vscode*

# Local Debian packages
/debs

# mdbook build output
/book
