[submodule "keyrings/debian"]
	path = externals/keyrings/debian
	url = https://salsa.debian.org/release-team/debian-archive-keyring.git
[submodule "keyrings/ubuntu"]
	path = externals/keyrings/ubuntu
	url = https://git.launchpad.net/ubuntu/+source/ubuntu-keyring
[submodule "keyrings/radxa"]
	path = externals/keyrings/radxa
	url = https://github.com/radxa-pkg/radxa-archive-keyring.git
[submodule "keyrings/vscodium"]
	path = externals/keyrings/vscodium
	url = https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo.git
[submodule "externals/librtui"]
	path = externals/librtui
	url = https://github.com/radxa-pkg/librtui.git
