# Devenv
/.devenv*
/devenv.local.nix

# direnv
/.direnv

# pre-commit
/.pre-commit-config.yaml

# node.js
/node_modules

# Build output
/out

# Local VS Code configuration
/.vscode*

# mdbook build output
/book

# Local rsdk config
.rsdk.json

# Log files
/*.log
/wget-log*
