# You can use devenv.local.nix to override the default settings.
# This file is provided as an example.

{ pkgs, ... }:

{
  # Override rsdk defaults here
  env  =  {
    RSDK_OPTION_REPO_SUFFIX = "-test";
    RSDK_OPTION_DISTRO_MIRROR = "http://apt.vamrs.com";
    RSDK_OPTION_RADXA_MIRROR = "http://apt.vamrs.com/rbuild-";
  };
}
